body{
	background-image: url(img5.JPG);

	/*to set background image properly*/
	background-size: cover;
	background-position: center;

	/*google font Lato*/
	font-family: Lato;
	color: black;
}

html{

	/*to adjust the image*/
	height: 100%;
}

#content{
	/*align text at center*/
	text-align: center;
	/*add padding top of 25% to push down the content little bit*/
	padding-top: 25%;

	/*text shadow can be found on CSS documentation page*/
	text-shadow: 0px 4px 3px rgba(0,0,0,1)
				 0px 4px 3px rgba(0,0,0,1)
				 0px 4px 3px rgba(0,0,0,4);


}

hr{
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}

h1{
	/*make it bold*/
	font-weight: 700;

	/*width: 400px;*/

	/*border-top: 1px solid #f8f8f8;*/
	/*making little bit transperent*/
	/*border-bottom: 1px solid rgba(0,0,0,0.2);*/


}


